* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
td {
  border: 0px;
  padding: 8px;
}
body {
  background-color: rgb(203, 191, 235);
  padding: 80px 500px;
}
input {
  margin: 10px;
  border: 0px;
  padding: 10px;
  background-color: whitesmoke;
}
#dis {
  padding: 30px 50px;
  margin-left: 2px;
}
#res {
  padding: 20px 40px;
  margin-left: 12px;
}
tr {
  background-color: rgb(229, 222, 241);
}
#button:hover {
  background-color: whitesmoke;
}

#button {
  background-color: rgb(229, 222, 241);
}
